/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/

.bouton {
  display: flex;
  height: 48px;
  padding: 0 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 2px solid $bleuFonce;
  background: $bleuFonce;
  color: white;
  transition: 300ms;
  font-weight: 500;

  @media(min-width: 500px) {
    padding: 0 32px;
  }

  &:hover {
    background-color: transparentize($bleuPale, 0.25);
    color: $noir;
  }
  &:active {
    background-color: transparentize($bleuPale, 0.5);
  }

  &--secondaire {
    background-color: white;
    color: $bleuFonce;
    border: 2px solid $bleuFonce;
    &:hover {
      border-color: transparentize($bleuPale, 0.25);
      border: 2px solid $bleuFonce;
    }
    &:active {
      border-color: transparentize($bleuPale, 0.5);
    }
  }
}