/**
* @author Prenom Nom courriel
* @todo Importer la fonte Futura
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
* @todo Utiliser le sélecteur & pour les sélecteurs des différentes couleurs
*/

/** Polices de caractères **/

$fontePrimaire : Poppins, sans-serif;
$fonteSecondaire : Poppins, sans-serif;

/** Palette de couleurs **/
// Utiliser http://chir.ag/projects/name-that-color pour obtenir des noms uniques et mémorisables
// Permettez-vous d'utiliser un nom de variable plus explicite si la suggestion de name-that-color est trop étrange

/* Couleurs de base */
$bleuFonce: #0072BC;
$bleuPale: #99B8E2;
$noir: #242731;
$grisPale: #E2E4E5;
$grisFonce: #5E5F68;
$erreur: #FF5733;
$positif: #00A88F;
$background: #F7F7FC;

/* Autres couleurs */
$hyperlien: $bleuFonce;

/** Points de rupture **/
$desktop : 601px;